.modo {
  width: 3.75em;
  height: 1.56em;
  background-color: #c3c3c3;
  border-radius: 9.37em;
  position: relative;
  cursor: pointer;
  max-width: 100vw;
  max-height: 100vh;
}

.modo .indicador {
  width: 1.56em;
  height: 1.56em;
  background-color: #f5f3f0;
  border-radius: 50%;
  transform: scale(.85);
  position: relative;
  left: 0;
  transition: .5s;

}

.modo.dark {
  background-color: #616266;
}

.modo.dark .indicador {
  left: 35px;
  background-color: #000;

}

body.dark {
  background-color: #000;
}

main.dark {
  background-color: #000;
  color: #f5f3f0;
}

header.dark {
  background-color: #000;

}

footer.dark {
  background-color: #000;

};
