* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

main {
    margin: 0 auto;
    max-width: 980px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #879e85;
    color: white;
}