* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}

body {
  background-color: #f5f3f0;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 0px;
}

p {
  color: #616266;
  margin-bottom: 1em;
  text-indent: 2em;
}

h1 {
  font-size: 2rem;
  padding: auto;
  margin: auto;
  color: #616266;
  display: block;
  margin-top: 3.5rem;

}

nav {
  background-color: transparent;
  font-size: 1em;
  padding: 0 1rem;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  position: relative;
  margin-right: 25px;
}

nav a {
  color: #f5f3f0;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  color: #616266;
}

nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #879e95;
  padding: 10px;
  border-radius: 10px;
}

nav li:hover ul {
  display: block;
}

nav li ul li {
  margin: 0;
}

header {
  background-color: #879e85;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
}

header h1 {
  color: #f5f3f0
}

h3 {
  margin-bottom: 20px;
}

main {
  margin: 0 auto;
  max-width: 980px;
  min-width: 200px;
  padding: 1rem;
  background-color: #f5f3f0;
  transition: .5s;
}

h4{
  text-align: center;
}
.container-imagem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imagem {
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 0 2em;
  max-width: 100%;
}

.texto {
  font-size: 1rem;
  color: #616266;
  margin-top: 1em;
  padding: 0 1em;
}

.container-planner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;

}

.imagem-planner {
  width: 260px;
  height: auto;
  max-width: 100%;
}

.texto-planner {
  font-size: 1rem;
  ;
  color: #616266;
}

.container-planner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.imagem-planner2 {
  width: 350px;
  height: auto;
  max-width: 100%;

}

.texto-planner2 {
  font-size: 1rem;
  ;
  color: #616266;
  margin: auto;
  padding: auto;
}


.container-livro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

}

.imagem-livro {
  width: 150px;
  height: auto;
  padding: 0 2em;
  max-width: 100%;
  display: block;

}

.texto-livro {
  font-size: 1rem;
  color: #616266;
}


.container-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

}

.imagem-focus {
  width: 150px;
  height: auto;
}

.container-focus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-sobre {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  background-color: #879e85;
}

footer p {
  color: #f5f3f0;
}

